@page
@model FinGram.Pages.TestFinalModel
@{
	ViewData["Title"] = "Тестирование";
}


@if (Model.Score.HasValue)
{
	<div class="result-message">
		<p>Вы набрали: <strong>@Model.Score из @Model.TotalQuestions</strong> баллов</p>
		@if (Model.Score == Model.TotalQuestions)
		{
			<p>Поздравляем! Вы прошли тест на 100%</p>
		}
		else if (Model.Score >= Model.TotalQuestions / 2)
		{
			<p>Хороший результат! Попробуйте пройти снова для улучшения!</p>
		}
		else
		{
			<p>Увы! Вам стоит ещё раз пройти материалы темы:(</p>
		}
	</div>
}

<div class="test-container">
	<div class="navigation">
		<li><a href="/Lesson1_1">1.1 Что такое бюджет и зачем он нужен</a></li>
		<li><a href="/Lesson1_2">1.2 Учёт доходов, расходов и правило 50/30/20</a></li>
		<li><a href="/Lesson1_3">1.3 Формирование подушки безопасности и непредвиденные расходы</a></li>
		<li><a href="/Summary1">Конспект темы 1</a></li>
		<li><a href="/Test1">Тест по теме "Основы личного бюджета и планирования"</a></li>
		<li><a href="/Lesson2_1">2.1 Банковские продукты: вклады, кредиты и комиссии</a></li>
		<li><a href="/Lesson2_2">2.2 Карты: дебетовые vs кредитные</a></li>
		<li><a href="/Lesson2_3">2.3 Налоги и обязательные платежи: базовые виды и сроки уплаты</a></li>
		<li><a href="/Lesson2_4">2.4 Как не стать жертвой финансового мошенничества</a></li>
		<li><a href="/Summary2">Конспект темы 2</a></li>
		<li><a href="/Test2">Тест по теме "Финансовые инструменты и безопасность"</a></li>
		<li><a href="/TestFinal" class="active-link-testfinal">Финальное тестирование</a></li>
	</div>

	<div class="test">
		<h2>Тест по теме "Основы личного бюджета и планирования"</h2>
		<p class="test-text">
			При работе над тестом будьте внимательны! Помните, что вопросы содержат только 1 правильный ответ.
			Если у вас нет уверенности в своих знаниях, ознакомьтесь еще раз с конспектом по теме.
			<br>Желаем удачи!
		</p>

		<form method="post">
			@foreach (var question in Model.QuestionsWithAnswers)
			{
				<div class="question-block">
					<p><strong>@question.Text</strong></p>
					<ul class="answers">
						@foreach (var answer in question.Answers)
						{
							<li>
								<input type="radio" name="Answers[@question.Id]" value="@answer.Id" />
								<label>@answer.Text</label>
							</li>
						}
					</ul>
				</div>
			}

			<button type="submit" class="submit-button">Отправить ответы</button>
		</form>
	</div>
</div>

